<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JetBrains.Annotations" version="2018.2.1" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net472" />
  <package id="NUnit" version="3.11.0" targetFramework="net472" />
  <package id="Refit" version="4.6.58" targetFramework="net472" />
  <package id="RestSharp" version="106.6.5" targetFramework="net472" />
  <package id="YNAB.Dotnet" version="1.0.1" targetFramework="net472" />
  <package id="YNAB.Rest" version="0.5.0" targetFramework="net472" />
</packages>